.notFoundWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

  .notFoundLogo {
    max-width: 100px;
  }
  .notFoundTitle {
    color: #687daa;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .notFoundButton {
    width: 200px;
    background-color: #687daa;
    color: white;
    &:hover {
      background-color: #7888af;
    }
  }
  .notFoundButtonLink {
    color: white;
    font-weight: bold;
  }
}
