.mainPageWrapper {
  display: flex;
  flex-direction: column;
  height: 87vh;

  :global {
    .ant-table-row-expand-icon {
      background-color: #687daa;
      color: white;
    }
    .ant-table-row-expand-icon:hover {
      background-color: #687daa;
      color: white;
    }
    .ant-btn {
      border-radius: 8px;
      background-color: #687daa;
      color: white;
      font-weight: bold;
      &:hover {
        background-color: #7888af;
      }
    }
  }

  .editStyle {
    color: #687daa;
    font-weight: bold;
    font-size: 18px;
  }

  .deleteStyle {
    color: #fe6557;
    font-weight: bold;
    font-size: 18px;
  }

  .mainTable {
    box-shadow: #fe6557 0px 1px 4px, #fe6557 0px 0px 0px 3px;
    border-radius: 5px;
  }
}
